[submodule "python-mode"]
	path = python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "DoxygenToolkit.vim"]
	path = DoxygenToolkit.vim
	url = git://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "Command-T"]
	path = Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-scala"]
	path = vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
