[submodule "python-mode"]
	path = python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "DoxygenToolkit.vim"]
	path = DoxygenToolkit.vim
	url = git://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "Command-T"]
	path = Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-scala"]
	path = vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-guicolorscheme"]
	path = vim-guicolorscheme
	url = git://github.com/thinca/vim-guicolorscheme.git
[submodule "vim-jade"]
	path = vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "gitignore"]
	path = gitignore
	url = git://github.com/vim-scripts/gitignore.git
[submodule "vim-less"]
	path = vim-less
	url = git://github.com/groenewege/vim-less.git
